.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-grow: 1;
}

.jobList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}


@media (max-width: 675px) {
    .filters {
        flex-direction: column;
    }
}

